link(rel="stylesheet" href="/static/calendar.css")
link(rel="stylesheet" href="/static/navigation.css")


#main__scheduleWrap
  include navigation
  #main__calendarWrap
    table#calendar.material.calendar
      tbody.cal__rowWrap
        tr.cal__row.cal__row--days
          td.cal__block.cal__block--time
          each day in ['Mon','Tue','Wed','Thu','Fri']
            td.cal__block.cal__block--day=day
        each hour in [8, 85,9, 95,10, 105,11,115,12, 125,1, 15,2, 25,3, 35,4, 45,5, 55,6, 65,7, 75,8, 85,9, 95]
          tr.cal__row
            if ((hour >= 10) && (hour < 13)) 
              td.cal__block.cal__block--time(rowspan="2") #{hour}:00
            else if hour < 13
              td.cal__block.cal__block--time(rowspan="2") &nbsp;#{hour}:00
            each day in [0, 1, 2, 3, 4]
              td.cal__block(data-time=hour, data-day=day)
    .calendar__blockWrap#main__calendar__blockWrap
      div(v-for="day in days").block__dayCol
        template(v-for="group in day")
          div(v-for="block in group.blocks" v-bind:style="block.style" v-bind:class="{'block__section--temp':block.section.temporary}").block__section {{block.section.uniq}}

.index__wrap
  span#gen__index(v-text="index + 1")
  span /
  span#gen__maxIndex(v-text="maxIndex")

